{% extends "newBase.html" %}
{% load staticfiles %}

{% block style %}
    <style type="text/css">
        #box1 {
            width: 600px;
            margin: 20px auto;
        }

        #box1 p {
            font-size: 20px;
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('.nav > li:eq(3)').addClass('nav-active');
        });
    </script>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="page-title-box">
        <h4 class="page-title">自动评分2</h4>
    </div>
    <div class="page-content">
        <div id="out" style="display:none">
            <br/>
            <b style="margin: 0 20px;">30% 完成</b>
            <div id="prog_out" class="progress progress-striped active" style="margin: 10px 20px 20px;">
                <div id="prog_in" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
        <table class="table table-striped table-customer">
            <thead>
                <tr>
                    <th width="5%">id</th>
                    <th width="25%">题目</th>
                    <th width="28%">答案</th>
                    <th width="30%">得分点</th>
                    <th width="5%">分值</th>
                    <th style="width: 90px">自动评分2</th>
                </tr>
            </thead>
            <tbody>
                {% for i in question %}
                <tr>
                    <td>{{ i.question.id }}</td>
                    <td>{{ i.question.content }}</td>
                    <td>{{ i.question.answer }}</td>
                    <td>{{ i.question.score_point }}</td>
                    <td>{{ i.question.score }}</td>
                    <td><a onclick='prograssquery({{ i.question.id }})' style="cursor: pointer;">自动评分2</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    function prograssquery(questionid) {
        var res = 0;
        var sitv = setInterval(function () {
            res += 1;
            $('#out').show();
            document.getElementsByTagName('b')[0].innerHTML = res + "% 完成";
            $('#prog_in').width(res + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
            if (res === 99) {
                document.getElementsByTagName('b')[0].innerHTML = "99% 完成 数据量过大，请耐心等待";
                clearInterval(sitv);
            }
        }, 1000);                                 // 每1秒查询一次后台进度
        var paper = {{ paperid }};
        $.ajax({
            url: "/scoring2/" + paper + "/" + questionid + "/",
            success: function (data) {
                 clearInterval(sitv);
                 $('#prog_in').width(100 + '%');
                 document.getElementsByTagName('b')[0].innerHTML = "100% 完成 加载数据中";
                alert("已计算" + data + "个答案");
                location.href = "/showscoring2/" + paper + "/" + questionid + "/";
            }
        });
    }
</script>
{% endblock %}
