{% extends "newBase.html" %}
{% load staticfiles %}

{% block style %}
    <style type="text/css">
        #box1 {
            width: 600px;
            margin: 20px auto;
        }

        #box1 p {
            font-size: 20px;
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var msg = '{{ msg }}';
        $(function () {
            $('.nav > li:eq(5)').addClass('nav-active');

            if (msg !== '') {
                alert(msg);
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="page-title-box">
            <h4 class="page-title">语料库管理和模型更新</h4>
        </div>
        <div class="page-content">
            <div id="out" style="display:none">
                <b>5% 完成</b>
                <div id="prog_out" class="progress progress-striped active">
                    <div id="prog_in" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
            <form class="form-horizontal form-customer form-small">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label">类别：</label>
                    <div class="col-md-7">
                        <input class="form-control" id="category" type="text" name="category" placeholder="请输入类别" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">文件：</label>
                    <div class="col-md-7">
                        <input id="word" style="width: 100%;" type="file" name="word" accept=".docx" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-primary" onclick="upload_file()">模型更新</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
    <script type="text/javascript">
        // 50秒上传成功
        let timer = null;
        let interval = 1000;
        let step = 2;
        function upload_file() {
            if (timer != null) {
                clearInterval(timer);
            }

            let cur = 0;
            if ($('#category').val() === '') {
                alert('请输入类别.');
                return;
            }

            if ($('#word').val() === '') {
                alert('请选择一个文件再上传.');
                return;
            }

            $('#btn_upload').attr('disabled', 'disabled');
            timer = setInterval(function () {
                cur += step;
                $('#out').show();
                document.getElementsByTagName('b')[0].innerHTML = cur + "% 完成";
                $('#prog_in').width(cur + '%');
                if (cur >= 100) {
                    clearInterval(timer);
                    $('#btn_upload').removeAttr('disabled');
                    alert('模型更新完成.');
                }
            }, interval);

            // 上传word
            data = {
                category: $('#category').val(),
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
            };
            $.ajaxFileUpload({
                url: '/modelupdate/',
                type: 'POST',
                fileElementId: 'word',
                dataType: 'json',
                data: data,
                success: function (data, status) {},
                error: function (data, status, e) {}
            });
        }
    </script>
{% endblock %}