{% extends "newBase.html" %}
{% load staticfiles %}

{% block style %}
    <style type="text/css">
        #box1 {
            width: 600px;
            margin: 20px auto;
        }

        #box1 p {
            font-size: 20px;
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('.nav > li:eq(2)').addClass('nav-active');
        });

        function preCheck() {
            if ($('#papername').val() === '') {
                alert('请输入考试名称。');
                return false;
            }

            if ($('#paperclass').val() === '') {
                alert('请至少输入一个考试班级。');
                return false;
            }

            if ($('#qtbl').find('input:checked').length === 0) {
                alert('请至少选择一个考试题目。');
                return false;
            }

            return true;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="page-title-box">
            <h4 class="page-title">创建考试</h4>
        </div>
        <div class="page-content">
            <form class="form-horizontal form-customer form-larger" method="POST" onsubmit="return preCheck();">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label">考试名称：</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="papername" name="papername" title="考试名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">考试班级：</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="paperclass"  name="paperclass" title="考试班级"/>
                        <span>（多个班级请用逗号隔开）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">请选择题目：</label>
                    <div class="col-md-7">
                        <table id="qtbl" class="table table-striped">
                            <tr>
                                <th style="width: 45px;">选择</th>
                                <th>id</th>
                                <th>题目</th>
                                <th>答案</th>
                            </tr>
                            {% for i in question_list %}
                            <tr>
                                <td><input type="checkbox" name="question_id" value="{{ i.0 }}" title=""></td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-primary">创建</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
