{% extends "base.html" %}
{% load staticfiles %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('#leftbar > li:eq(2)').addClass('active2');
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        #box1 {
            width: 600px;
            margin: 20px auto;
        }

        #box1 p {
            font-size: 20px;
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="right">
        <div class="personal_des ">
            <div class="head" style="border:1px solid #eaeaea;">
                <h1>考试管理</h1>
            </div>

            <div class="inforcon">
                <div id="box1" style="width:90%">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" name="paper_name" placeholder="请输入考试名称" />
                            <button type="submit" style="padding: 5px 20px">查询</button>
                        </form>
                    </div>
                    <div style="margin:20px 0"><a href="{% url 'paper_create_select' %}">创建考试</a></div>
                    <table border="1" style="width:100%">
                        <tr>
                            <th>id</th>
                            <th>考试</th>
                            <th>操作</th>
                        </tr>
                        {% for i in question_list %}
                        <tr>
                            <td width="20%">{{ i.0 }}</td>
                            <td width="60%">{{ i.1 }}</td>
                            <td width="20%"><a href="{% url 'paper_edit' i.0 %}">编辑</a> | <a href="{% url 'paper_delete' i.0 %}">删除</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
