{% extends "newBase.html" %}
{% load staticfiles %}

{% block style %}
    <style type="text/css">
        #box1 {
            width: 600px;
            margin: 20px auto;
        }

        #box1 p {
            font-size: 20px;
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var msg = '{{ msg }}';
        $(function () {
            $('.nav > li:eq(4)').addClass('nav-active');

            if (msg !== '') {
                alert(msg);
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="page-title-box">
            <h4 class="page-title">学生信息管理</h4>
        </div>
        <div class="page-content">
            <form class="form-horizontal form-customer form-small" action="" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3">文件：</label>
                    <div class="col-md-7">
                        <input type="file" name="excel" accept=".xls,.xlsx" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-7">
                        <button class="btn btn-primary" type="submit">上传</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
